/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-size: x-large;
}

a {
  text-decoration: none;
  color: grey;
}
 .active {
  color: tomato;
  border-bottom: 1px solid orange;
 }
 .head-nav {
  background-color: #151515;
  padding: 1rem 1.5rem;
 }

 .team-details {
  display: block;
  background-color: #151515;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: gray;
 }

 img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: 1px solid #FAE392;
  padding: 1rem;
  margin: 1rem;
 }